<lib-default-dialog [dialogTitle]="'Add product'">
	<form class="dialog-content flex flex-col items-center gap-2 w-3/4" #f="ngForm" (ngSubmit)="onSubmit(f)">
		<mat-form-field class="w-full">
			<mat-label>Product name</mat-label>
			<input matInput name="product-name" [(ngModel)]="model.name" #nameField="ngModel" type="text" required />
			@if (nameField.invalid) {
			<mat-error>Product name is required</mat-error>
			}
		</mat-form-field>

		<mat-form-field class="w-full">
			<mat-label>Initial quantity</mat-label>
			<input matInput name="quantity" [(ngModel)]="model.quantity" #quantityField="ngModel" type="number" min="0"
				required />
			@if (quantityField.invalid) {
			<mat-error>Quantity is required</mat-error>
			}
		</mat-form-field>

		<mat-form-field class="w-full">
			<mat-label>Category</mat-label>
			<mat-select [(ngModel)]="model.categoryId" #categoryField="ngModel" name="category" required>
				@for (category of categories(); track category.id) {
				<mat-option [value]="category.id">{{ category.name }}</mat-option>
				}
			</mat-select>
			@if (categoryField.invalid && categories().length > 0) {
			<mat-error>Category is required</mat-error>
			}
			@if (categories().length === 0) {
			<mat-error>You must create a category first</mat-error>
			}
		</mat-form-field>

		<div class="text-center">
			<button mat-raised-button class="main-btn text-xl" [disabled]="state === 'loading'">
				@if (state === "loading") {
				<mat-spinner diameter="25" />
				} @else {
				Add
				}
			</button>
		</div>
	</form>
</lib-default-dialog>