<header class="centerer">
  <!-- <img [ngSrc]="'assets/icons/logo.svg'" class="mr1 ml1"
    alt="logo" width="150" height="40" priority="priority"> -->

  <nav class="flex align-items-center gap1 ml2">
    <a class="nav-item" routerLink="products" routerLinkActive="active">
      <div class="logo">
        <mat-icon>list</mat-icon>
      </div>
      <div class="nav-text">Products</div>
    </a>
  
    <a class="nav-item" routerLink="categories" routerLinkActive="active">
      <div class="logo">
        <mat-icon>category</mat-icon>
      </div>
      <div class="nav-text">Categories</div>
    </a>
  
    <a class="nav-item" routerLink="users" routerLinkActive="active">
      <div class="logo">
        <mat-icon>people</mat-icon>
      </div>
      <div class="nav-text">Users</div>
    </a>
  
    <a class="nav-item flexer pointer fs14 fw500" routerLink="log" routerLinkActive="active">
      <div class="logo">
        <mat-icon>table_chart</mat-icon>
      </div>
      <div class="nav-text">Log</div>
    </a>
  </nav>

  <div class="right right-part">
    <div>
      <mat-slide-toggle
        [checked]="themeService.isDarkMode$ | async"
        (change)="themeService.toggleTheme()">
        Dark Mode
      </mat-slide-toggle>
    </div>

    <mat-divider vertical="true" />
    
    <div class="flexer ml1 mr1 pointer" [matMenuTriggerFor]="menu">
      <button mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
    
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onOptionSelected('logout')">
        <mat-icon [svgIcon]="'logoutIcon'"></mat-icon>
        <span class="fw500 red">Logout</span>
      </button>
    </mat-menu>
  </div>
</header>
