header {
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  min-height: var(--header-height);
  color: #FFF;
  gap: 2rem;

  nav {
    width: calc(100% - 19rem + 80px);

    .nav-item {
      display: flex;
      align-items: center;
      gap: .5rem;
      cursor: pointer;
      padding: 0.25rem .6rem;
      border-radius: 6px;
      transition: all 0.15s ease;
      text-decoration: none;
      color: #FFF;

      &.active, &:hover {
        background-color: #fff;
        color: #000;
      }
    }
  }

  .right-part {
    display: flex;
    align-items: center;
    gap: 1rem;

    .mat-divider {
      height: 30px;
    }

    ::ng-deep {
      #mat-mdc-slide-toggle-0-label {
        width: max-content !important;
      }
    }
  }
}