<header class="centerer">
  <!-- <img [ngSrc]="'assets/icons/logo.svg'" class="mr1 ml1"
    alt="logo" width="150" height="40" priority="priority"> -->

  <div class="right flexer">
    <mat-divider vertical="true" />
    <div class="flexer ml1 mr1 pointer" [matMenuTriggerFor]="menu">
      <button mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
    
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onOptionSelected('logout')">
        <mat-icon [svgIcon]="'logoutIcon'"></mat-icon>
        <span class="fw500 red">Logout</span>
      </button>
    </mat-menu>
  </div>
</header>
