<div class="categories mx-4 h-[90%]">
  <div class="flex items-center my-4 gap-4">
    <h1 class="text-2xl font-bold">Categories</h1>
    <div class="!text-[#009DDC] cursor-pointer font-medium" (click)="openAddCategoryPopup()">+ add</div>
  </div>

  <div class="overflow-y-auto min-h-[370px] table-wrapper mat-elevation-z5" tabindex="0">
    <table mat-table [dataSource]="categories()">
      <ng-container matColumnDef="name" sticky>
        <th mat-header-cell *matHeaderCellDef class="font-semibold text-lg">Name</th>
        <td mat-cell *matCellDef="let product" class="py-2">{{product.name}}</td>
      </ng-container>

      <ng-container matColumnDef="dateCreated" sticky>
        <th mat-header-cell *matHeaderCellDef class="font-semibold text-lg">Date created</th>
        <td mat-cell *matCellDef="let product" class="py-2">{{product.createdAt | date:'dd.MM.yyyy'}}</td>
      </ng-container>

      <ng-container matColumnDef="dateUpdated" sticky>
        <th mat-header-cell *matHeaderCellDef class="font-semibold text-lg">Date updated</th>
        <td mat-cell *matCellDef="let product" class="py-2">{{product.updatedAt | date:'dd.MM.yyyy'}}</td>
      </ng-container>
    
      <ng-container matColumnDef="actions" sticky>
        <th mat-header-cell *matHeaderCellDef class="font-semibold text-lg">Actions</th>
        <td mat-cell *matCellDef="let category" class="py-2">
          <button mat-icon-button class="cursor-pointer dots ml-auto" [matMenuTriggerFor]="optionsMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #optionsMenu="matMenu">
            @for (action of category.actions; track $index) {
              <div mat-menu-item (click)="selectOption(category, action)" class="font-medium"
                [style.color]="action == 'Delete' ? '#ff0000' : null">
                {{action}}
              </div>
            }
          </mat-menu>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>