form {
  max-width: 1000px;
  min-width: 400px;
  border: 1px solid #000;
  border-radius: 3px;
  background-color: #e0f5fe;

  h1 {
    margin: 0 !important;
  }

  // Autocomplete styles for light theme
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #fff inset !important;
    -webkit-text-fill-color: #000 !important;
    background-color: #fff !important;
  }
}

:host-context(.dark-theme) {
  form {
    background-color: #333 !important;
    border: 1px solid #555 !important;

    // Autocomplete styles for dark theme
    input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 30px #333 inset !important;
      -webkit-text-fill-color: #fff !important;
      background-color: #333 !important;
    }
  }
}