.log-container {
  overflow-y: scroll;
  max-height: 100%;

  table {
    th {
      text-align: left;
      border-bottom: 2px solid #cccccc !important;
      position: sticky;
      top: 0;
      z-index: 2;
      background-color: #eaf6fc !important;
    }

    td, th {
      padding: 0.7rem !important;
    }

    .log-heading {
      height: 30px;
      width: 110px;
      border-top: none !important;
    }

    tbody {
      tr {
        border-top: 2px solid #E5E4E7;
      }

      td {
        text-align: left;
        color: black;
        border: none;
      }
    }
  }

  .no-data {
    height: 200px;
    font-size: 20px;
  }
}