<lib-default-dialog [title]="'Add Category'">
  <form class="dialog-content flex-col align-items-center gap1" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <mat-label>Category name</mat-label>
      <input matInput name="category-name" [(ngModel)]="name" #categoryField="ngModel" type="text" required />
      @if (categoryField.invalid) {
        <mat-error>Category name is required</mat-error>
      }
    </mat-form-field>


    <div class="center">
      <button mat-raised-button class="main-btn" [disabled]="state === 'loading'">
        @if (state === 'loading') {
          <mat-spinner diameter="25" />
        } @else {
          Add
        }
      </button>
    </div>
  </form>
</lib-default-dialog>