.logs {
	.main-area {
		height: calc(100vh - 67px);

		.main-filters {
			.upper-part {
				border-bottom: 2px solid #e5e4e7;
			}
		}
	}

	.log-table {
		background-color: #eaf6fc;
	}
}

:host-context(.dark-theme) {
	.log-table {
		background-color: var(--background-color) !important;
	}
}
