.logs {
  .main-area {
    height: calc(100vh - 67px);

    .main-filters {
      .upper-part {
        border-bottom: 2px solid #E5E4E7;
      }
    }
  }

  .log-table {
    background-color: #EAF6FC;
  }
}

:host-context(.dark-theme) {
  .log-table {
    background-color: var(--background-color) !important;
  }
}